#content {
	color: #2c2a2a;
	margin: 0 auto;
	font-family: Verdana, Arial, sans-serif;
	width: 40%;
	padding-bottom: 5%;
}

body {
	background-color: #e9e7e9;
}

a {
	color: #2c2a2a;
}

a:hover {
	color: #c90076;
}

#flag {
	background-image: linear-gradient(to bottom, #e40303 16.5%,
	#ff8c00 16.5% 33%,
	#ffed00 33% 49.5%,
	#008026 49.5% 66%,
	#004dff 66% 82.5%,
	#750787 82.5%);
}

#flag:hover {
	filter: drop-shadow(1px 1px 0.5rem #4c4c4c);
}

h2 {
	font-size: 1.3em;
}

input {
	display: flex;
}

#flag {
	height: 90px;
	width: 150px;
	position: absolute;
	right: 50px;
	bottom: 50px;
	border-radius: 10px;
}


body.darkmode {
	background-color: #17191a;
}

.darkmode #content {
	color: #bbbebd;
}

.darkmode a {
	color: #bbbebd;
}

.darkmode a:hover {
	color: #81a2be;
}

.darkmode #flag {
	background-image: linear-gradient(to bottom, #5bcefa 20%,
	#f5a9b8 20% 40%,
	white 40% 60%,
	#f7a9b8 60% 80%,
	#5bcefa 80%);
}

.darkmode #flag:hover {
	filter: drop-shadow(1px 1px 0.5rem #939393);
}

@media (max-width: 992px) {
	#content {
		width: 85%;
		padding-bottom: 25%;
		padding-top: 2%;
	}

	#flag {
		position: absolute;
		top: 20px;
		right: 20px;
		height: 60px;
		width: 100px;
	}
}
